* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
}
main {
  margin: 100px auto 0;
  width: 1120px;
}

.card-big {
  background: url("../img/Car.png");

  min-height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 30px;
}
.card-big p {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-left: 20px;

  color: rgba(255, 255, 255, 0.5);
}
.card-big h2 {
  font-family: "Raleway", sans-serif;

  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  margin-left: 20px;
  width: 448px;

  color: #ffffff;
}
.card {
  display: flex;
  flex-direction: column;
  min-height: 540px;
}
.card__content {
  background: #ffffff;
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.avatar {
  width: 54px;
  height: 54px;
}
.card__content h3 {
  margin-bottom: auto;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;

  color: #1d1d1d;
}
.card__content p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: #818181;
}
