* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  width: 1170px;
  height: 1100px;
  margin: 0 auto;
  background: #e5e5e5;
}
.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.car {
  width: 740px;
  height: 540px;
}
.car {
  position: relative;
}
p {
  position: absolute;
}
p span {
  position: absolute;
  margin: -120px 609px 0 24px;
  color: white;
  font-size: 14px;
  width: 110px;
  line-height: 16px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.car h2 {
  position: absolute;
  margin: -82px 297px 11px 24px;
  color: white;
  font-size: 30px;
  width: 435px;
  line-height: 35px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
.girl {
  width: 360px;
  height: 540px;
  background: #ffffff;
}
.pic2 {
  width: 360px;
  height: 251px;
}
.girl p {
  position: absolute;
  color: #818181;
  font-family: "Raleway" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 25px 229px 248px 25px;
}
.girl h2 {
  position: absolute;
  font-family: "Raleway" sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 61px 31px 150px 25px;
  width: 304px;
  height: 78px;

  color: #1d1d1d;
}
.flower {
  width: 360px;
  height: 540px;
  background: #ffffff;
}
.pic3 {
  width: 360px;
  height: 251px;
}
.flower p {
  font-family: "Raleway" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 25px 229px 248px 25px;

  color: #818181;
}
.flower h2 {
  font-family: "Raleway" sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  width: 296px;
  height: 78px;
  margin: 61px 39px 150px 25px;

  color: #1d1d1d;
}
.legs {
  width: 360px;
  height: 540px;
  background: #ffffff;
}
.pic4 {
  width: 360px;
  height: 251px;
}
.legs p {
  width: 106px;
  height: 16px;

  margin: 25px 229px 248px 25px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: #818181;
}
.legs h2 {
  position: absolute;
  width: 290px;
  height: 78px;
  margin: 61px 45px 150px 25px;

  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;

  color: #1d1d1d;
}
.city {
  width: 360px;
  height: 540px;
  background: #ffffff;
}
.city p {
  width: 106px;
  height: 16px;
  margin: 25px 229px 248px 25px;

  font-family: "Raleway" sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  color: #818181;
}
.city h2 {
  width: 266px;
  height: 78px;
  margin: 61px 69px 150px 25px;

  font-family: "Raleway" sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;

  color: #1d1d1d;
}
